<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
</head>
<body>
<div style="font-size:12px;font-family:Arial;background:#fff">
    <div style="width:526px;padding:0 0 38px 27px;margin:0;background:#fff;text-align:left">
        <table>
            <tr>
                <td>
                    <div style="width:526px;margin:0;font-weight:normal;font-size:1.5em;color:#669999">
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <h1 style="width:526px;margin:0;font-weight:normal;font-size:1.7em;color:#669999">Welcome to e-littleangel.com</h1>
                </td>
            </tr>
        </table>

        <p style="width:526px;margin:0 0 1.35em;font-weight:bold;color:#58595b;font-size:1.2em;margin-top:10px;">Hi <b> $username </b></p>

        <p style="width:526px;margin:0 0 1.35em;color:#58595b">You are one step to successfully complete registration process.</p>
        <br/>
        <p style="width:526px;margin:0 0 1.35em;color:#58595b">Please click following link to activate your account:</p>
        <p style="width:526px;margin:0 0 1.35em;color:#58595b">
            <a href="{{ website_address }}/login.html?h={{ activation_hash }}&e={{ email_hash }}">
                {{ website_address }}/login.html?h={{ activation_hash }}&e={{ email_hash }}
            </a>
        </p>
        <br/>
        <p style="width:526px;margin:0 0 1.35em;color:#58595b">Happy Shopping</p>
        <div style="width:526px;color:#58595b">e-LittleAngel Team</div>
        <div style="width:526px;color:#58595b;margin-top:4px;">account@e-littleangel.com</div>
    </div>
</div>
</body>
</html>
