/* app css stylesheet */

.menu {
  list-style: none;
  border-bottom: 0.1em solid black;
  margin-bottom: 2em;
  padding: 0 0 0.5em;
}

.menu:before {
  content: "[";
}

.menu:after {
  content: "]";
}

.menu > li {
  display: inline;
}

.menu > li:before {
  content: "|";
  padding-right: 0.3em;
}

.menu > li:nth-child(1):before {
  content: "";
  padding: 0;
}
#usersForm .table th, .table td {
    padding: 0px !important;
    vertical-align: middle !important;
}
.error{color:red}
.formSection:after {
    background-color: #F5F5F5;
    border: 1px solid #DDDDDD;
    border-radius: 4px 0 4px 0;
    color: #9DA0A4;
    font-size: 12px;
    font-weight: bold;
    left: -1px;
    padding: 3px 7px;
    position: absolute;
    top: -1px;
}
.formSection {
    background-color: #F8F8FF;
    border: 1px solid #DDDDDD;
    border-radius: 4px 4px 4px 4px;
    margin: 15px 0;
    padding: 39px 19px 14px;
    position: relative;
}
.detailsTitle:after {
    content: "Details:";
}
.bilingDetailsTitle:after {
    content: "Billing:";
}
.shippingDetailsTitle:after {
    content: "Billing:";
}
.settingsTitle:after {
    content: "Settings:";
}
.accountBalance:after {
    content: "Balance:";
}
.withdrawForm:after {
    content: "Withdraw form:";
}
.issuedPromotionsTitle:after {
    content: "Promotions sent:";
}
.vatSettingsTitle:after {
    content: "VAT:";
}
.categoryTranslations:after {
    content: "Category title translations:";
}
.categoryProducts:after {
    content: "Products:";
}
.attributeTranslations:after {
    content: "Attribute translations:";
}
.activityOnSite:after {
    content: "Activity on site:";
}
.translations:after {
    content: "Translations:";
}
.productCategories:after {
    content: "Product categories:";
}
.productTitleTranslations:after {
    content: "Product title translations:";
}
.productDescriptionTranslations:after {
    content: "Product description translations:";
}
.productAttributes:after {
    content: "Product attributes:";
}
.productImages:after {
    content: "Product images:";
}
.promotionItems:after {
    content: "Promotion items:";
}
.contactAnswer:after {
    content: "Answer:";
}
.sizeGuideTranslations:after {
    content: "Size guide translations:";
}
.sizeGuideCategories:after {
    content: "Size guide categories:";
}
.countryTranslations:after {
    content: "Country translations:";
}
.deliveryTypeTranslations:after {
    content: "Delivery type translations:";
}
.deliveryTypePrices:after {
    content: "Delivery type prices:";
}
.deliveryDetails:after {
    content: "Delivery details:";
}
.invoicesDetails:after {
    content: "Invoices:";
}
.btn {
    border:0px !important;
    outline: none !important;
}
#Loading {
    display: none;
    line-height: 108px;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    height: 150px;
    width: 300px;
    border: 1px solid gray;

    left:50%;
    top:50%;
}
body .table th {
    border-top: 0px;
    white-space: nowrap;
    padding-left: 0px;
}
body input, body textarea, body .uneditable-input {
    width: auto;
}
body .navbar .nav > li > a {
    color: #777777;
    float: none;
    padding: 10px;
    text-decoration: none;
    text-shadow: 0 1px 0 #FFFFFF;
}
.fromUserName {
    color: #FF0000;
    font-family: sans-serif;
    font-size: 12px;
    font-weight: bold;
}
.fromMessage {
    color: #9A2EFE;
    font-family: sans-serif;
    font-size: 10px;
}

.toUserName {
    color: #0000FF;
    font-family: sans-serif;
    font-size: 10px;
    font-weight: bold;
}

.toMessage {
    color: #B45F04;
    font-family: sans-serif;
    font-size: 10px;
}
.windowTitle {
    color: #FFFFFF;
    font-size: 12px;
    font-weight: bold;
    float: left;
    position: relative;
    margin-left:3px;
    top: 5px;
}
.windowClose {
    color: #FFFFFF;
    font-size: 13px;
    float: right;
    position: relative;
    margin-right:3px;
    top: 5px;
    cursor: pointer;
    font-weight:bold;
}
.chatInput{
    border:1px solid #C9D0DA;
    background-color: #FFFFF;
    color: #000000;
    font-weight: normal;
    padding-left: 2px;
    height: 20px;
    width: 286px;
}


