body {
    background-color: #F7F7F7;
    color: #333333;
    font-family: "Gotham","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 13px;
    line-height: 18px;
    margin: 0;
}
#checkoutPage .logo {
    /*background: url("https://s3.amazonaws.com/sneakpeeq-sites/diamondcandles/images/freeshippingbanner.png") repeat scroll 0 0 rgba(0, 0, 0, 0);*/
    height: 125px;
    line-height: 125px;
    text-align: center;
}
#checkoutPage {
    margin-left: auto;
    margin-right: auto;
}
#checkoutPage {
    width: 954px;
}
#checkoutPage {
    background-color: #FFFFFF;
    border-left: 1px solid #DDDDDD;
    border-right: 1px solid #DDDDDD;
    border-bottom: 1px solid #DDDDDD;
    padding: 0 6px;
}
.cart-page .cart-summary {
    background-color: #EEEEEE;
}
.cart-page .cart-summary {
    border: 1px solid #DDDDDD;
    padding: 20px 25px 20px 20px;
}
.cart-page {
    font-size: 13px;
}
.cart-page h2 {
    background-color: #FDFDFD;
    background-image: linear-gradient(to bottom, #FFFFFF, #F9F9F9);
    background-repeat: repeat-x;
    border-bottom: 1px solid #EEEEEE;
    color: #676767;
    font-family: "Gotham",helvetica,Arial;
    font-size: 16px;
    height: 60px;
    line-height: 60px;
    margin: -20px -25px 20px -20px;
    text-align: center;
}
.cart-page .cart-user-info {
    background-color: #EEEEEE;
    border: 1px solid #DDDDDD;
    margin-left: -2px;
    padding: 20px 8px 0;
}
.cart-page h2.order-billing-shipping-heading {
    border-left: 1px solid #DDDDDD;
    border-right: 1px solid #DDDDDD;
    margin: -20px -9px 20px;
}
.media-list {
    list-style: none outside none;
    margin-left: 0;
}
.cart-page .cart-summary .cart-items > li {
    background-color: #F6F6F6;
    border: 1px solid #DDDDDD;
    margin-bottom: 5px;
    overflow: visible;
    position: relative;
}
li {
    line-height: 18px;
}
.cart-page .cart-summary .cart-items > li .media {
    min-height: 80px;
}
.cart-page .cart-summary .cart-items > li .cart-item-title {
    float: left;
    padding-top: 12px;
    width: 100%;
}
.cart-page .cart-summary .cart-items > li .cart-item-title {
    float: left;
    padding-top: 12px;
    width: 100%;
}
.cart-page .cart-summary .cart-items > li .product-title, .cart-items-list .cart-pricing-label {
    display: inline-block;
    max-width: 79%;
    word-break: break-all;
}
.cart-items-list {
    border-bottom: 1px solid #dddddd;
    padding-bottom: 10px;
}
.cart-page .cart-summary .cart-items > li .cart-item-price, .cart-page .cart-summary .cart-items > li .cart-item-soldout, .cart-item-remove {
    color: #575757;
    display: inline-block;
    float: right;
    font-weight: bold;
    padding-right: 10px;
}
body .cart-item-remove {
    padding-right:0px;
}
.cart-item-remove button {
font-size: 10px; padding:5px;padding-top: 1px; padding-bottom: 1px; border-radius: 0px;border-bottom: 2px; background-image:none;
}
body .shoppingCartEmpty {
    border: 2px solid #E9322D;
}
ul.unstyled, ol.unstyled {
    list-style: none outside none;
    margin-left: 0;
}
.cart-pricing {
    margin-bottom: 0;
}
.cart-pricing li:before, .cart-pricing li:after {
    content: "";
    display: table;
    line-height: 0;
}
.cart-pricing li:after {
    clear: both;
}
.cart-pricing li:before, .cart-pricing li:after {
    content: "";
    display: table;
    line-height: 0;
}
.cart-pricing li {
    padding: 5px 0;
}
.cart-pricing li div.cart-pricing-label {
    float: left;
    text-align: left;
}
.cart-pricing li div {
    float: right;
    font-size: 13px;
    text-align: right;
    width: 40%;
}
.cart-pricing li.cart-pricing-total {
    border-top: 1px solid #DDDDDD;
    font-weight: bold;
    padding-bottom: 0;
    padding-top: 15px;
}
.cart-pricing li.cart-pricing-total div {
    font-size: 18px;
}
.cart-page .cart-user-info .cart-section .cart-section-header {
    background-color: #FBFBFB;
    background-image: linear-gradient(to bottom, #FFFFFF, #F6F6F6);
    background-repeat: repeat-x;
    border: 1px solid #D8D8D8;
    cursor: pointer;
    font-size: 12px;
    height: 34px;
    overflow: hidden;
    padding: 16px 20px 0;
    text-overflow: ellipsis;
    text-transform: uppercase;
    white-space: normal;
}
.cart-page .cart-user-info .cart-section .cart-section-header {
    cursor: pointer;
    font-size: 12px;
    text-transform: uppercase;
    white-space: normal;
}
.cart-page .cart-user-info .cart-section .cart-section-header .cart-icon.cart-icon-edit {
    background-position: 0 -17px;
    height: 16px;
    width: 16px;
}
.cart-page .cart-user-info .cart-section .cart-section-header .cart-icon {
    background-image: url("cart.sprites.png");
    display: block;
    float: right;
}
.cart-page .cart-user-info .cart-section .cart-section-body {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background-color: #FFFFFF;
    border-color: -moz-use-text-color #D8D8D8 #D8D8D8;
    border-image: none;
    border-right: 1px solid #D8D8D8;
    border-color: #D8D8D8;
    border-style: none solid solid;
    border-width: medium 1px 1px;
    padding: 5%;
    position: relative;
}
.subscribe {
    margin-top: 20px;
    margin-bottom: 20px;
}
.subscribe input[type="checkbox"] {
    float: left;
}
#checkoutPage input[type="text"].fieldError, #checkoutPage input[type="email"].fieldError, #checkoutPage select.fieldError {
    color: #B94A48;
    border-color: #E9322D;
    box-shadow: 0 0 6px #F8B9B7
}
#shippingInfo {
    margin-top: 20px;
}
.itemQuantityOk {
    border:1px solid #DDDDDD
}
.itemQuantityErr {
    border:1px solid #E9322D;
}
#Loading .modal-body {
    font-size: 20px;
    height: 110px;
    margin-top: 40px;
    text-align: center;
}
#loadingIndicator {
    z-index: 11000;
    /*background-position: 50% 50%;*/
    /*background-repeat: no-repeat;*/
    width: 100%;
    display: none;
    height: 100%;
    min-height: 100%;
    background-color: rgb(255,255,255);
    background-color: rgba(255,255,255,0.2);
    /* For IE 5.5 - 7*/
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#11ffffff, endColorstr=#11ffffff);
    /* For IE 8*/
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#11ffffff, endColorstr=#11ffffff)";
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#11ffffff', endColorstr='#11ffffff'); /* IE: bf = 0.75 in hex */
    position: fixed;
    bottom: 0;
    left: 0;
    zoom:1;
}
body .media-heading {
    margin: 4px 0 0 4px;
}
.cart-item-add .btn {
    border-radius: 0px;
    background-image: none;
    margin-bottom:6px;
}
.cart-item-attrs select {
    margin-bottom:0px;
    width:210px;
}
.cart-item-attrs {
    margin-bottom:8px;
}