<div class="container" id="checkoutPage" fancybox>
    <div ng-controller="CheckoutCtrl" class="cart-container container ng-scope">
        <div class="row hidden-phone" style="display: block;text-align:right;margin-top: 8px;">
            <div class="span12">
                <a href="/login.html">{{ messages.login }}</a>
                <span style="color: #08c; font-size: 14px; margin-left:4px;margin-right:4px;">|</span>
                <a href="/register.html">{{ messages.register }}</a>
            </div>
        </div>

        <div class="row hidden-phone" style="display: block;">
            <div class="span12 logo">
                <img src="/static/logo.jpg"/>
            </div>
        </div>

        <div class="row">

        <div class="span12" ng-if="paymentAccepted">
            <div class="cart-page">
                <div class="cart-summary ng-scope" style="background-color:#d9ecd9">
                    <img src="/static/${pom.version}/img/accepted.png" style="float:left;margin-right:20px;"/>

                    <p style="margin-top: 4px; color:green">{{ messages.payment_accepted }}</p>

                    <div class="clearfix"></div>
                </div>
            </div>
            <br/>
        </div>
        <div class="span12">
            <div class="cart-page">
                <div class="row">
                    <div class="span5">
                        <!-- Cart Summary -->
                        <div class="cart-summary ng-scope">
                            <h2 class="order-summary-heading">{{ messages['order_summary'] }}</h2>

                            <ul class="cart-items media-list">
                                <li ng-repeat="item in payment.items" ng-if="!paymentAccepted" class="ng-scope" x-ng-controller="ItemSelectionCtrl">
                                    <div>
                                        <div class="media">
                                            <div class="media-heading">
                                                <div class="product-title">
                                                    <strong class="ng-binding">
                                                        <span>{{ getItemTitle(item) }}</span>
                                                    </strong>
                                                </div>
                                                <div class="cart-item-price">
                                                    <div class="ng-binding">{{ formatCurrency(itemPrice(item)) }}</div>
                                                </div>
                                            </div>
                                            <div class="media-wrapper" style="width:104px;margin:4px;float:left;">
                                                <a class="grouped_elements productImage" rel="gallery_{{ item.id }}" href="{{ defaultImage(item) }}.png" onclick="return false;">
                                                    <img class="media-object" ng-src="{{ defaultImage(item) }}_thumb.png" style="width:100px"/>
                                                </a>
                                            </div>
                                            <div class="media-body">
                                                <div class="cart-item-title">
                                                    <div class="cart-units" ng-show="item.available>1">
                                                        <div class="cart-item-quantity clearfix">
                                                            <div class="cart-item-label"
                                                                 style="float:left;margin-top:2px;">{{ messages.quantity }}</div>
                                                            <div class="page-up-down">
                                                                <button type="button" ng-show="item.quantity!=0" class="decreaseQuantity"
                                                                        id="decreaseQuantity" ng-click="decreaseItemQuantity(item)"
                                                                        style="background: url('/static/${pom.version}/img/button_arrow_bottom.png') no-repeat scroll left top transparent;border: medium none;cursor: pointer;height: 26px;width: 26px;float: left;margin-left: 2px;overflow: hidden;text-indent: -100px;">
                                                                    -
                                                                </button>
                                                                <input value="{{ item.quantity }}" ng-disabled="true"
                                                                       id="userSelectionQuantity" name="userSelectionQuantity"
                                                                       class="itemQuantity itemQuantityOk"
                                                                       style="-moz-border-bottom-colors: none;-moz-border-image: none;-moz-border-left-colors: none;-moz-border-right-colors: none;-moz-border-top-colors: none;float: left;font-size: 1.091em;margin: 0 3px;padding: 4px 0 !important;text-align: center;width: 24px;height:16px;"
                                                                       spellcheck="false">
                                                                <button type="button" class="increaseQuantity" id="increaseQuantity"
                                                                        ng-click="increaseItemQuantity(item)"
                                                                        ng-show="item.quantity!=item.available"
                                                                        style="background: url('/static/${pom.version}/img/button_arrow_top.png') no-repeat scroll left top transparent;border: medium none;cursor: pointer;height: 26px;width: 26px;float: left;margin-right: 2px;overflow: hidden;text-indent: -100px;">
                                                                    +
                                                                </button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="cart-item-attrs">
                                                        <div ng-repeat="var in item.variations">
                                                            <a class="grouped_elements productImage" ng-if="var.img && var.img!=''"
                                                               rel="gallery_{{ item.id }}" href="/static/images/offer_item_variation/{{ var.id }}.png" style="display:none">
                                                                <img class="media-object" ng-src="/static/images/offer_item_variation/{{ var.id }}_thumb.png" style="width:100px"/>
                                                            </a>
                                                        </div>
                                                        <select name="variationSelection" ng-model="item.selection"
                                                                x-select-required="true"
                                                                ng-if="item.multivariate"
                                                                style="margin-top: 6px;width:95%"
                                                                x-ng-options="obj.id as getItemTitle(obj) for obj in item.variations"/>
                                                    </div>
                                                    <div class="cart-item-add">
                                                        <button type="button" ng-click="addToCart(item);" class="btn btn-success" ng-class="{'shoppingCartEmpty': shoppingCartEmpty}">{{ messages.offer_add_to_basket }}</button>
                                                        <a href="#" onclick="return false;" class="toolTipLink"
                                                            data-toggle="popover" popovertitle="{{ getItemTitle(item) }}"
                                                            data-html="true" popover ng-show="hasDescription(item)"
                                                            data-content="{{ getItemDescription(item) }}"
                                                            data-placement="right">{{ messages.show_details }}</a>
                                                    </div>

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                            <div ng-if="shoppingCart.items.length==0">
                                {{ messages.offer_your_basket_is_empty }}
                            </div>
                            <ul class="cart-items-list unstyled" ng-if="offer!=null && shoppingCart.items.length!=0">
                                <li ng-repeat="item in shoppingCart.items">
                                    <div class="cart-pricing-label">
                                        {{ item.quantity }} x {{ getItemTitle(item) }}
                                        <span ng-if="item.variation_title">[{{ item.variation_title }}]</span>
                                    </div>
                                    <div class="cart-item-remove" ng-if="!paymentAccepted">
                                        <button class="btn btn-danger" ng-click="removeFromCart(item)">X</button>
                                    </div>
                                </li>
                            </ul>
                            <ul class="cart-pricing unstyled" ng-if="offer!=null && shoppingCart.items.length!=0">
                                <li class="cart-pricing-subtotal">
                                    <div class="cart-pricing-label">{{ messages['subtotal'] }}</div>
                                    <div class="ng-binding">{{ formatCurrency(subtotal()) }}</div>
                                </li>
                                <li>
                                    <div class="cart-pricing-label">{{ messages['shipping'] }}</div>
                                    <div class="ng-binding">{{ formatCurrency(shippingCost()) }}</div>
                                </li>

                                <li class="cart-pricing-total">
                                    <div class="cart-pricing-label">{{ messages['total'] }}</div>
                                    <div class="ng-binding">{{ formatCurrency(total()) }}</div>
                                </li>
                            </ul>
                        </div>

                        <div class="cart-summary ng-scope" style="margin-top:10px;"><b>{{ messages.seller_information }}</b>
                          <div>
                            <a href="/{{ account_hash }}">e-littleangel.com</a><br>
                            {{ messages.positive_feedback }}<br>
                            <div style="width:100%;border-top:1px solid #dddddd;margin-top:6px;">
                                <a href="/{{ account_hash }}">{{ messages.see_other_items }}</a>
                            </div>
                          </div>
                        </div>
                    </div>

                    <div class="span7">
                        <!-- Billing/Shipping Information -->
                        <div class="cart-user-info">
                            <h2 class="order-billing-shipping-heading"><span ng-bind-html="messages['billing_and_shipping']"/></h2>

                            <div class="ng-binding">


                                    <form name="checkoutDetailsForm" action="">
                                        <!-- Billing -->
                                        <div class="cart-section ng-pristine ng-invalid ng-invalid-required">
                                            <div class="cart-section-header">
                                                <strong>{{ messages['billing_info'] }}</strong>
                                                <i class="cart-icon cart-icon-edit"></i>
                                            </div>
    
                                            <div class="cart-section-body">
                                                <div class="ng-scope">
                                                    <div class="row-fluid">
                                                        <div class="controls controls-row">
                                                            <input type="text" autocomplete="off"
                                                                   nullifempty
                                                                   ng-readonly="paymentAccepted"
                                                                   placeholder="{{ messages['first_name'] }}" name="firstname" ng-model="billing.first_name"
                                                                   class="span6"
                                                                   notags
                                                                   x-ng-model-onblur
                                                                   ng-class="{fieldError: checkoutDetailsForm.firstname.$used && checkoutDetailsForm.firstname.$invalid}"
                                                                   input-required="true">
                                                            <input type="text" autocomplete="off"
                                                                   nullifempty
                                                                   ng-readonly="paymentAccepted"
                                                                   placeholder="{{ messages['last_name'] }}" name="lastname" ng-model="billing.last_name"
                                                                   class="span6"
                                                                   notags
                                                                   x-ng-model-onblur
                                                                   ng-class="{fieldError: checkoutDetailsForm.lastname.$used && checkoutDetailsForm.lastname.$invalid}"
                                                                   input-required="true">
                                                        </div>
    
                                                        <div class="controls">
                                                            <input type="text" autocomplete="off" ng-model="billing.address1" name="address1"
                                                                   nullifempty
                                                                   ng-readonly="paymentAccepted"
                                                                   placeholder="{{ messages['address_1'] }}" ng-maxlength="150" maxlength="150"
                                                                   class="span12"
                                                                   notags
                                                                   x-ng-model-onblur
                                                                   ng-class="{fieldError: checkoutDetailsForm.address1.$used && checkoutDetailsForm.address1.$invalid}"
                                                                   input-required="true">
                                                        </div>
    
                                                        <div class="controls">
                                                            <input type="text" autocomplete="off" ng-model="billing.address2" name="address2"
                                                                   nullifempty
                                                                   notags
                                                                   ng-readonly="paymentAccepted"
                                                                   placeholder="{{ messages['address_2'] }}" class="span12">
                                                        </div>
    
                                                        <div class="controls controls-row">
                                                            <select name="country" ng-model="billing.country" id="country"
                                                                    class="span6" x-select-required="true"
                                                                    ng-disabled="paymentAccepted"
                                                                    ng-class="{fieldError: checkoutDetailsForm.country.$dirty && checkoutDetailsForm.country.$invalid}"
                                                                    x-ng-options="obj.code as obj.label for obj in countries">
                                                            </select>
                                                            <input type="text" autocomplete="off" placeholder="{{ messages['city'] }}" ng-model="billing.city"
                                                                   name="city"
                                                                   ng-readonly="paymentAccepted"
                                                                   notags
                                                                   x-ng-model-onblur
                                                                   nullifempty class="span6"
                                                                   ng-class="{fieldError: checkoutDetailsForm.city.$used && checkoutDetailsForm.city.$invalid}"
                                                                   input-required="true"/>
                                                        </div>
    
                                                        <div class="controls controls-row">
                                                            <input type="text" autocomplete="true" name="postal" ng-model="billing.postal_code"
                                                                   nullifempty placeholder="{{ messages['post_code'] }}" class="span6"
                                                                   ng-readonly="paymentAccepted"
                                                                   notags
                                                                   x-ng-model-onblur
                                                                   ng-class="{fieldError: checkoutDetailsForm.postal.$used && checkoutDetailsForm.postal.$invalid}"
                                                                   input-required="true"/>
    
                                                            <input type="text" placeholder="{{ messages['county'] }}" name="county"
                                                                   nullifempty
                                                                   ng-readonly="paymentAccepted"
                                                                   ng-class="{fieldError: checkoutDetailsForm.county.$used && checkoutDetailsForm.county.$invalid}"
                                                                   ng-show="billing.country!=='' && billing.country!=='fr' && billing.country!=='de'"
                                                                   ng-model="billing.county" class="span6"
                                                                   notags
                                                                   x-ng-model-onblur
                                                                   input-required="billing.country!=='' && billing.country!=='fr' && billing.country!=='de'">
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="controls email-section row-fluid">
                                                    <input type="email" autocomplete="off" placeholder="{{ messages['email'] }}" name="email"
                                                           nullifempty ng-model="billing.email" class="span12 email-input"
                                                           ng-readonly="paymentAccepted"
                                                           ng-class="{fieldError: checkoutDetailsForm.email.$used && checkoutDetailsForm.email.$invalid}"
                                                           notags
                                                           x-ng-model-onblur
                                                           input-required="true"/>
                                                </div>
    
                                                <div class="row">
                                                    <div class="span3">
                                                        <label class="checkbox" ng-if="!paymentAccepted">
                                                            <input type="checkbox" ng-model="billing.same_address" ng-checked="true" defaultchecked="true"
                                                                   checked="checked" class="show-cursor ng-pristine ng-valid"
                                                                   name="sameaddress"> {{ messages['use_above_for_shipping'] }}
                                                        </label>
    
                                                        <label class="checkbox" ng-if="paymentAccepted && billing.same_address" style="padding-left: 0px">
                                                            {{ messages['use_above_for_shipping'] }}
                                                        </label>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- Shipping -->
                                        <div ng-if="!billing.same_address" id="shippingInfo" class="cart-section">
                                            <div class="cart-section-header">
                                                <strong>{{ messages['shipping_info'] }}</strong>
                                                <i class="cart-icon cart-icon-edit"></i>
                                            </div>
    
                                            <div class="cart-section-body">
    
                                                <div class="ng-scope">
                                                    <div class="row-fluid">
                                                        <div class="controls controls-row">
                                                            <input type="text" autocomplete="off" placeholder="{{ messages['first_name'] }}"
                                                                   ng-model="shipping.first_name"
                                                                   nullifempty class="span6"
                                                                   ng-readonly="paymentAccepted"
                                                                   notags
                                                                   x-ng-model-onblur
                                                                   ng-class="{fieldError: checkoutDetailsForm.sfirstname.$used && checkoutDetailsForm.sfirstname.$invalid}"
                                                                   input-required="!billing.same_address" name="sfirstname">
                                                            <input type="text" autocomplete="off" placeholder="{{ messages['last_name'] }}"
                                                                   ng-model="shipping.last_name"
                                                                   nullifempty class="span6"
                                                                   ng-readonly="paymentAccepted"
                                                                   notags
                                                                   x-ng-model-onblur
                                                                   ng-class="{fieldError: checkoutDetailsForm.slastname.$used && checkoutDetailsForm.slastname.$invalid}"
                                                                   input-required="!billing.same_address" name="slastname">
                                                        </div>
                                                        <div class="controls controls-row">
                                                            <input type="text" autocomplete="off" ng-model="shipping.address1" name="saddress1"
                                                                   placeholder="{{ messages['address_1'] }}" ng-maxlength="150" maxlength="150"
                                                                   nullifempty class="span12"
                                                                   notags
                                                                   x-ng-model-onblur
                                                                   ng-readonly="paymentAccepted"
                                                                   ng-class="{fieldError: checkoutDetailsForm.saddress1.$used && checkoutDetailsForm.saddress1.$invalid}"
                                                                   input-required="!billing.same_address">
                                                        </div>
    
                                                        <div class="controls">
                                                            <input type="text" nullifempty autocomplete="off" ng-model="shipping.address2" name="saddress2"
                                                                   notags
                                                                   ng-readonly="paymentAccepted"
                                                                   placeholder="{{ messages['address_2'] }}" class="span12 ng-pristine ng-valid">
                                                        </div>
    
                                                        <div class="controls controls-row">
                                                            <select name="scountry" ng-model="shipping.country" class="span6"
                                                                    x-select-required="true"
                                                                    ng-disabled="paymentAccepted"
                                                                    ng-class="{fieldError: checkoutDetailsForm.scountry.$dirty && checkoutDetailsForm.scountry.$invalid}"
                                                                    x-ng-options="obj.code as obj.label for obj in countries">
                                                            </select>
                                                            <input type="text" nullifempty autocomplete="off" placeholder="{{ messages['city'] }}"
                                                                   notags
                                                                   ng-readonly="paymentAccepted" x-ng-model-onblur
                                                                   ng-class="{fieldError: checkoutDetailsForm.scity.$used && checkoutDetailsForm.scity.$invalid}"
                                                                   ng-model="shipping.city" name="scity" class="span6" input-required="!billing.same_address"/>
                                                        </div>
    
                                                        <div class="controls controls-row">
                                                            <input type="text" nullifempty autocomplete="off" name="spostal" ng-model="shipping.postal_code"
                                                                   notags
                                                                   ng-class="{fieldError: checkoutDetailsForm.spostal.$used && checkoutDetailsForm.spostal.$invalid}"
                                                                   placeholder="{{ messages['post_code'] }}"
                                                                   ng-readonly="paymentAccepted" x-ng-model-onblur
                                                                   class="span6" input-required="!billing.same_address"/>
    
                                                            <input type="text" nullifempty placeholder="{{ messages['county'] }}" name="scounty"
                                                                   ng-show="shipping.country!=='' && shipping.country!=='fr' && shipping.country!=='de'"
                                                                   ng-model="shipping.county" class="span6"
                                                                   ng-readonly="paymentAccepted"
                                                                   notags
                                                                   x-ng-model-onblur
                                                                   ng-class="{fieldError: checkoutDetailsForm.scounty.$used && checkoutDetailsForm.scounty.$invalid}"
                                                                   input-required="shipping.country!=='' && shipping.country!=='fr' && shipping.country!=='de'">
                                                        </div>
                                                        <div class="controls controls-row">
                                                            <div>
                                                                <input type="text" autocomplete="off" nullifempty name="company" ng-model="shipping.company"
                                                                       ng-readonly="paymentAccepted"
                                                                       notags
                                                                       placeholder="{{ messages['company'] }}" class="span12 ng-pristine ng-valid">
                                                            </div>
                                                        </div>
                                                        <div class="controls controls-row">
                                                            <input type="text" autocomplete="off" nullifempty name="phoneNumber"
                                                                   notags
                                                                   ng-readonly="paymentAccepted"
                                                                   ng-model="shipping.phone_number" placeholder="{{ messages['phone'] }}"
                                                                   class="span12 ng-pristine ng-valid">
                                                        </div>
    
                                                        <div class="controls controls-row">
                                                            <input type="email" autocomplete="off" nullifempty placeholder="{{ messages['email_opt'] }}"
                                                                   notags
                                                                   name="semail"
                                                                   ng-readonly="paymentAccepted"
                                                                   ng-model="shipping.email" class="span12">
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                    <form name="checkoutPaymentForm" id="checkoutPaymentForm" action="">

                                        <!-- Finally, submit -->
                                        <div ng-if="!paymentAccepted">
                                            <div class="subscribe row-fluid">
                                                <input type="checkbox" checked="checked" ng-model="subscribe" name="subscribe" class="ng-pristine ng-valid">
                                                <span class="span10">{{ messages['subscribe'] }}</span>
                                            </div>
                                        </div>
    
                                        <div class="cart-section" ng-if="!paymentAccepted">
                                            <div class="cart-section-header">
                                                <strong>{{ messages['payment_options'] }}</strong>
                                                <i class="cart-icon cart-icon-edit"></i>
                                            </div>
    
                                            <div class="cart-section-body">
                                                <table cellspacing="0" cellpadding="0" align="center" style="width:90%">
                                                    <tbody>
                                                    <tr>
                                                        <td style="padding:6px;border-left:1px solid #cccccc;border-top:1px solid #cccccc;border-right:1px solid #cccccc;width:170px;text-align:center;">
                                                            <img src="/static/${pom.version}/img/cards/visa.png" style="">
                                                            <img src="/static/${pom.version}/img/cards/american-express.png" style="">
                                                            <img src="/static/${pom.version}/img/cards/mastercard.png" style="">
                                                        </td>
                                                        <td style="padding:6px;border-bottom:1px solid #cccccc;">
                                                            <a href="#" id="paypalPayment" ng-click="pay($event, 'pcc'); $event.stopImmediatePropagation();">Paypal<span
                                                                    id="paypalPaymentWait"></span></a>
                                                        </td>
                                                        <td style="border-bottom:1px solid #cccccc;"></td>
                                                    </tr>
                                                    <tr>
                                                        <td colspan="2"
                                                            style="padding:6px;border-left:1px solid #cccccc;border-right:1px solid #cccccc;border-bottom:1px solid #cccccc;">
                                                            <div style="margin-top:6px;margin-bottom:0px;">
                                                                <span class="payment-errors" style="color:red;"></span>
    
                                                                <div>
                                                                    <div class="form-row" style="float:left;width:60%;height:60px;">
                                                                        <label><span>{{ messages['card_number'] }}</span></label>
                                                                        <input type="text" size="20" data-stripe="number" name="number"
                                                                               ng-class="{fieldError: checkoutPaymentForm.number.$used && checkoutPaymentForm.number.$invalid}"
                                                                               autocomplete="off" x-ng-model-onblur
                                                                               ng-model="payment.number" input-required="true" placeholder="•••• •••• •••• ••••">
                                                                    </div>
    
                                                                    <div class="form-row" style="float:left;height:60px;">
                                                                        <label><span>{{ messages['expires'] }}</span></label>
                                                                        <select data-stripe="exp-month" style="width:60px;" name="month"
                                                                                ng-class="{fieldError: checkoutPaymentForm.month.$used && checkoutPaymentForm.month.$invalid}"
                                                                                x-select-required="true" ng-model="payment.month">
                                                                            <option value="">MM</option>
                                                                            <option value="01">01</option>
                                                                            <option value="02">02</option>
                                                                            <option value="03">03</option>
                                                                            <option value="04">04</option>
                                                                            <option value="05">05</option>
                                                                            <option value="06">06</option>
                                                                            <option value="07">07</option>
                                                                            <option value="08">08</option>
                                                                            <option value="09">09</option>
                                                                            <option value="10">10</option>
                                                                            <option value="11">11</option>
                                                                            <option value="12">12</option>
                                                                        </select>
                                                                        <span> / </span>
                                                                        <select data-stripe="exp-year" x-select-required="true"
                                                                                ng-class="{fieldError: checkoutPaymentForm.year.$used && checkoutPaymentForm.year.$invalid}"
                                                                                name="year" style="width:70px;" ng-model="payment.year">
                                                                            <option value="">YYYY</option>
                                                                            <option ng-repeat="opt in expiryyears"
                                                                                    value="{{ opt.code }}">{{ opt.label }}</option>
                                                                        </select>
                                                                    </div>
                                                                    <div class="clearfix" style="height:1px;"></div>
                                                                    <div class="form-row" style="float:left;width:60%;height:60px;">
                                                                        <label><span>{{ messages['name_on_card'] }}</span></label>
                                                                        <input type="text" size="40" data-stripe="name" input-required="true"
                                                                               name="name"
                                                                               autocomplete="off"
                                                                               ng-class="{fieldError: checkoutPaymentForm.name.$used && checkoutPaymentForm.name.$invalid}"
                                                                               ng-model="payment.name"/>
                                                                    </div>
                                                                    <div class="form-row" style="float:left;height:60px;">
                                                                        <label><span>{{ messages['card_code'] }}</span></label>
                                                                        <input type="text" size="4" data-stripe="cvc"
                                                                               autocomplete="off"
                                                                               name="cvc"
                                                                               ng-class="{fieldError: checkoutPaymentForm.cvc.$used && checkoutPaymentForm.cvc.$invalid}"
                                                                               placeholder="CVC" style="width:132px;" ng-model="payment.cvc"/>
                                                                    </div>
                                                                </div>
                                                                <div class="clearfix" style="height:1px;"></div>
                                                                <table align="center" style="margin-left:auto;margin-right:auto;">
                                                                    <tbody>
                                                                        <tr>
                                                                            <td>
                                                                                <button style="border: medium none; display: block; height: 40px; width: 184px; margin-bottom: 10px; overflow: hidden; text-align: center; color: white; background-color: #69C1E7; text-transform: uppercase;font-size:15px;margin-left:auto;margin-right:auto;margin-top:20px;"
                                                                                        class="projector_butttons_buy" id="ccPayment" ng-click="pay($event, 'cc')"
                                                                                        type="submit" ng-if="offer!=null">{{ messages['pay'] }}
                                                                                    <span ng-if="shoppingCart.items.length!=0">{{ formatCurrency(total()) }}</span>
                                                                                </button>
                                                                            </td>
                                                                            <td id="ccPaymentWait">
                                                                            </td>
                                                                        </tr>
                                                                    </tbody>
                                                                </table>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td colspan="2">
                                                            <br/>
                                                            <a href="#" id="alternativePayment"
                                                               ng-click="pay($event, 'pcc'); $event.stopImmediatePropagation();">
                                                                {{ messages['alternative'] }}
                                                                <img src="/static/${pom.version}/img/cards/visa.png" style="width:32px;" />
                                                                <img src="/static/${pom.version}/img/cards/american-express.png" style="width:32px;" />
                                                                <img src="/static/${pom.version}/img/cards/mastercard.png" style="width:32px;" />
                                                                {{ messages['payment_with_paypal'] }}</a><span id="alternativePaymentWait"></span>
    
                                                            <div style="font-size:10px;margin-top:6px;">( {{ messages['after_clicking'] }} <span
                                                                    style="font-size:12px;">"</span>
                                                                    <span style="font-style:italic;">
                                                                        <span ng-bind-html="messages['dont_have_account']"/>
                                                                    </span><span style="font-size:12px;">"</span> )
                                                            </div>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </form>
                                </div>
                            <form id="paymentForm" name="paymentForm" action="/paypal/init/" method="GET">
                                <input type="hidden" name="order_id" id="order_id" value=""/>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <br/>
    </div>
</div>
</div></div>