<form class="form-2" id="loginForm" name="loginForm" method="post" action="" x-ng-controller="LoginCtrl" novalidate>
    <h1 class="heading1"><span class="heading1s">{{ messages.login_title }}</span></h1>
    <p style="color:#d44950;margin-top:6px;font-size:13px;" ng-if="error_message">{{ error_message }}</p>
    <p class="float">
        <label for="j_username"><i class="icon-user"></i>{{ messages.login_username }}</label>
        <input type="text" name="username"
               ng-model="login.username"
               ng-class="{fieldError: loginForm.username.$dirty && loginForm.username.$invalid}"
               placeholder="{{ messages.login_username_placeholder }}" ng-required="true"/>
    </p>

    <p class="float">
        <label for="j_password"><i class="icon-lock"></i>{{ messages.login_password }}</label>
        <input type="password" name="password"
               ng-model="login.password"
               ng-class="{fieldError: loginForm.password.$dirty && loginForm.password.$invalid}"
               placeholder="{{ messages.login_password_placeholder }}" ng-required="true"/>
    </p>
    <br/>
    <a href="/reset-password.html" style="font-size:13px;">{{ messages.login_remind_me_my_password }}</a>
    <br/>

    <p class="clearfix" style="margin-top:6px;">
        <input type="submit" name="login" value="{{ messages.login_btn }}" style="margin-left:0px"
                class="btn btn-primary" ng-click="proceed()"/>
    </p>
</form>