<form class="form-2" id="newPasswordForm" name="newPasswordForm" method="post" action="" x-ng-controller="NewPasswordCtrl" novalidate>
    <h1 class="heading1"><span class="heading1s">{{ messages.new_password_title }}</span></h1>
    <p style="color:#d44950;margin-top:6px;font-size:13px;" ng-if="error_message">{{ error_message }}</p>
    <p style="color:#468847;margin-top:6px;font-size:13px;" ng-if="success_message">{{ success_message }}</p>
    <p class="float">
        <label for="password"><i class="icon-lock"></i>{{ messages.new_password_password }}</label>
        <input type="password" name="password"
               ng-model="newpassword.password"
               ng-class="{fieldError: newPasswordForm.password.$used && newPasswordForm.password.$invalid}"
               placeholder="{{ messages.new_password_placeholder }}" x-ng-model-onblur input-required="true"/>
    </p>
    <p class="float">
        <label for="confirmPassword"><i class="icon-lock"></i>{{ messages.new_password_confirm_password }}</label>
        <input type="password" name="confirmPassword"
               ng-model="newpassword.confirmPassword"
               ng-class="{fieldError: newPasswordForm.confirmPassword.$used && newPasswordForm.confirmPassword.$invalid}"
               placeholder="{{ messages.new_password_confirm_password_placeholder }}" ng-required="true"/>
    </p>
    <br/>

    <p class="clearfix">
        <input type="submit" name="register" value="{{ messages.new_password_btn }}" style="float:right"
               class="btn btn-primary" ng-click="proceed()"/>
    </p>
</form>