<form class="form-2" id="resetPasswordForm" name="resetPasswordForm" method="post" action="" x-ng-controller="ResetPasswordCtrl" novalidate>
    <h1 class="heading1"><span class="heading1s">{{ messages.reset_password_title }}</span></h1>
    <p style="color:#d44950;margin-top:6px;font-size:13px;" ng-if="error_message">{{ error_message }}</p>
    <p style="color:#468847;margin-top:6px;font-size:13px;" ng-if="success_message">{{ success_message }}</p>
    <p>
        <label for="j_username"><i class="icon-user"></i>{{ messages.reset_password_username }}</label>
        <input type="email" name="username" ng-model="reset.username"
               ng-class="{fieldError: resetPasswordForm.username.$used && resetPasswordForm.username.$invalid}"
               placeholder="{{ messages.reset_password_placeholder }}" x-ng-model-onblur input-required="true"/>
    </p>
    <br/>

    <p class="clearfix">
        <input type="submit" name="register" value="{{ messages.reset_password_btn }}" style="float:right"
               class="btn btn-primary" ng-click="proceed()"/>
    </p>
</form>