<!DOCTYPE html>
<!--[if lt IE 7]><html class="no-js ie6 oldie" ><![endif]-->
<!--[if IE 7]><html class="no-js ie7 oldie" ><![endif]-->
<!--[if IE 8]><html class="no-js ie8 oldie" ><![endif]-->
<!--[if IE 9]><html class="no-js ie9 oldie" ><![endif]-->
<!--[if gt IE 9]><html class="no-js" ><![endif]-->
<!--[if !IE]><html class="no-js" ><![endif]-->
<head>
    <link href="/static/{{ project_version }}/css/bootstrap2.min.css" rel="stylesheet" media="screen" />
    <link href="/static/{{ project_version }}/css/style.css" rel="stylesheet" media="screen" />
    <link rel="stylesheet" href="/static/{{ project_version }}/lib/fancybox/jquery.fancybox-1.3.4.css" type="text/css" media="screen" />
    <script src="/static/{{ project_version }}/lib/jquery.js"></script>
    <script src="/static/{{ project_version }}/lib/jquery.cookie.js"></script>
    <script type="text/javascript">
        var jq = jQuery.noConflict();
    </script>
    <title>www.justsale.it</title>
</head>

<body>
    <div>
	<h3>Opps, there was a problem processing your request, please try again later</h3>
    </div>

    <!--#include virtual="/static/{{ project_version }}/template/footer.html" -->

    <div id="loadingIndicator" class="loadingIndicator"></div>
</body>
<!--[if lt IE 7]></html><![endif]-->
<!--[if IE 7]></html><![endif]-->
<!--[if IE 8]></html><![endif]-->
<!--[if IE 9]></html><![endif]-->
<!--[if gt IE 9]></html><![endif]-->
<!--[if !IE]></html><![endif]-->
