<!DOCTYPE html>
<!--[if lt IE 7]><html class="no-js ie6 oldie" ><![endif]-->
<!--[if IE 7]><html class="no-js ie7 oldie" ><![endif]-->
<!--[if IE 8]><html class="no-js ie8 oldie" ><![endif]-->
<!--[if IE 9]><html class="no-js ie9 oldie" ><![endif]-->
<!--[if gt IE 9]><html class="no-js" ><![endif]-->
<!--[if !IE]><html class="no-js" ><![endif]-->
<head>
    <link rel="stylesheet" href="/static/{{ project_version }}/css/admin.css" />
</head>

<body>
    <section class="main">
        <form class="form-2" id="loginForm" name="loginForm" method="post" action="">
            <h1><span class="log-in">{{ message_login }}</span></h1>
            {% if error_message %}
                <p style="color:#d44950;margin-top:6px;font-size:13px;">{{ error_message }}</p>
            {% endif %}
            <p class="float">
                <label for="j_username"><i class="icon-user"></i>{{ message_username }}</label>
                <input type="text" name="username" placeholder="{{ message_username_placeholder }}" />
            </p>
            <p class="float">
                <label for="j_password"><i class="icon-lock"></i>{{ message_password }}</label>
                <input type="password" name="password" placeholder="{{ message_password_placeholder }}" class="showpassword" />
            </p>
            <br/>
            <a href="/reset_password.html" style="font-size:13px;">{{ message_remin_me_my_password }}</a>
            <br/>
            <p class="clearfix" style="margin-top:6px;">
                <input type="submit" name="login" value="{{ message_login_btn }}" style="margin-left:0px"/>
            </p>
        </form>
    </section>
</body>
<!--[if lt IE 7]></html><![endif]-->
<!--[if IE 7]></html><![endif]-->
<!--[if IE 8]></html><![endif]-->
<!--[if IE 9]></html><![endif]-->
<!--[if gt IE 9]></html><![endif]-->
<!--[if !IE]></html><![endif]-->
