<!DOCTYPE html>
<!--[if lt IE 7]><html class="no-js ie6 oldie" ><![endif]-->
<!--[if IE 7]><html class="no-js ie7 oldie" ><![endif]-->
<!--[if IE 8]><html class="no-js ie8 oldie" ><![endif]-->
<!--[if IE 9]><html class="no-js ie9 oldie" ><![endif]-->
<!--[if gt IE 9]><html class="no-js" ><![endif]-->
<!--[if !IE]><html class="no-js" ><![endif]-->
<head>
    <link rel="stylesheet" href="/static/{{ project_version }}/css/normalize.css" />
    <link href="/static/{{ project_version }}/css/bootstrap.min.css" rel="stylesheet" media="screen" />
    <link rel="stylesheet" href="/static/{{ project_version }}/css/main.css" />
    <link rel="stylesheet" href="/static/{{ project_version }}/css/font-awesome.css" />
    <title>Just Sale It</title>
    <script src="/static/{{ project_version }}/lib/jquery.js"></script>
    <script type="text/javascript">
        var jq = jQuery.noConflict();
    </script>
</head>

<body>
    <div style="opacity: 1;" id="bg" class="bg"></div>
    <div class="outer">
        <div class="inner inner-{{ page }}" x-ng-app='pgapp-{{ page }}'>
            <div data-loading></div>
            <div class="content" x-ng-controller='PGAppCtrl'>
                <div class="main">
                    <div style="" id="identity" class="identity">
                        <div id="spinner" class="spinner" style="display: none;"></div>
                        <img src="/static/{{ project_version }}/img/shopping-cart.png" class="logo" id="logo"/>
                    </div>
                    <div style="opacity: 1;" id="tagline" class="tagline">
                        <p><span id="type">Just Sale It</span><span id="typed-cursor" style="visibility: hidden;">|</span></p>
                    </div>

                    <div x-ng-view></div>
                    <p style="margin-top: 4px; opacity: 1;" id="footer" class="footer">
                        {% if page=='register' or page=='reset-password' or page=='logout' %}
                            {{ messages.already_a_member }}<a style="margin-left:6px;" href="/login.html">{{ messages.login }}</a>
                            <a href="/contact.html" style="float:right;">{{ messages.contact }}</a>
                        {% elif page=='login' %}
                            {{ messages.need_an_account }}<a style="margin-left:6px;" href="/login.html">{{ messages.register }}</a>
                            <a href="/contact.html" style="float:right;">{{ messages.contact }}</a>
                        {% else %}
                            &copy; 2014 Spreadline Ltd
                        {% endif %}
                    </p>
                </div>
            </div>
        </div>
    </div>

    <!--#include virtual="/static/{{ project_version }}/template/footer.html" -->

    <script type="text/javascript">
        window.messages = JSON.parse('{{ messages }}'.replaceAll('&#39;', '"').replace('&amp;#39;', "'"))
    </script>
    <div id="loadingIndicator" class="loadingIndicator"></div>
</body>
<!--[if lt IE 7]></html><![endif]-->
<!--[if IE 7]></html><![endif]-->
<!--[if IE 8]></html><![endif]-->
<!--[if IE 9]></html><![endif]-->
<!--[if gt IE 9]></html><![endif]-->
<!--[if !IE]></html><![endif]-->