<!DOCTYPE html>
<!--[if lt IE 7]><html class="no-js ie6 oldie" ><![endif]-->
<!--[if IE 7]><html class="no-js ie7 oldie" ><![endif]-->
<!--[if IE 8]><html class="no-js ie8 oldie" ><![endif]-->
<!--[if IE 9]><html class="no-js ie9 oldie" ><![endif]-->
<!--[if gt IE 9]><html class="no-js" ><![endif]-->
<!--[if !IE]><html class="no-js" ><![endif]-->
<head>
    <link href="/static/{{ project_version }}/css/bootstrap2.min.css" rel="stylesheet" media="screen" />
    <link href="/static/{{ project_version }}/css/style.css" rel="stylesheet" media="screen" />
    <script src="/static/{{ project_version }}/lib/jquery.js"></script>
    <script src="/static/{{ project_version }}/lib/jquery.cookie.js"></script>
    <script type="text/javascript">
        var jq = jQuery.noConflict();
    </script>
    <title>www.justsale.it - {{ title }}</title>
</head>

<body id="x-ng-app" x-ng-app='pgapp-list'>
<div x-ng-controller='PGAppCtrl'>
    <div style="background:white;margin-top:0px;padding:4px;background:white;margin-top:0px;padding:4px;border-bottom:1px solid #dddddd" id="banner_cookie_inner">
            <a id="banner_cookie_close" style="float:right;cursor:pointer;font-size:12px;">[X]</a>
            <p style="margin-top:0px;font-size:13px;margin-bottom:0px;"><b><span ng-bind="messages.cookie_heading"></span></b>
                <span ng-bind="messages.cookie_info1"></span>
                <span ng-bind="messages.cookie_info2"></span>
                <a href="/privacy-policy.html" style="margin-left:4px;"><span ng-bind="messages.cookie_policy"></span></a>.
            </p>                                     </div>
    <input type="hidden" id="clientCurrency" name="clientCurrency"/>
    <div>
        <div data-loading></div>
        <div>
            <div x-ng-view></div>
        </div>
    </div>
</div>
    <!--#include virtual="/static/{{ project_version }}/template/footer.html" -->

    <script type="text/javascript">
        window.messages = JSON.parse('{{ messages }}'.replaceAll('&#39;', '"').replaceAll('&amp;#39;', "'"))
    </script>
    <script type="text/javascript">
        window.language = '{{ language }}';
    </script>
    <script type="text/javascript">
        window.client_country = '{{ country }}';
    </script>
    <script type="text/javascript">
        window.account_hash = '{{ account_hash }}';
    </script>
    <script type="text/javascript">
        window.account_name = '{{ account_name }}';
    </script>

    <div id="loadingIndicator" class="loadingIndicator"></div>
</body>
<!--[if lt IE 7]></html><![endif]-->
<!--[if IE 7]></html><![endif]-->
<!--[if IE 8]></html><![endif]-->
<!--[if IE 9]></html><![endif]-->
<!--[if gt IE 9]></html><![endif]-->
<!--[if !IE]></html><![endif]-->
