<!DOCTYPE html>
<!--[if lt IE 7]><html class="no-js ie6 oldie" ><![endif]-->
<!--[if IE 7]><html class="no-js ie7 oldie" ><![endif]-->
<!--[if IE 8]><html class="no-js ie8 oldie" ><![endif]-->
<!--[if IE 9]><html class="no-js ie9 oldie" ><![endif]-->
<!--[if gt IE 9]><html class="no-js" ><![endif]-->
<!--[if !IE]><html class="no-js" ><![endif]-->
<head>
    <link rel="stylesheet" href="/static/{{ project_version }}/css/admin.css" />
</head>

<body>
    <section class="main">
        <form class="form-2" id="loginForm" name="loginForm" method="post" action="">
            <h1><span class="log-in">Register</span></h1>
            <p class="float">
                <label for="j_username"><i class="icon-user"></i>Username</label>
                <input type="text" name="username" placeholder="Email" />
            </p>
            <p class="float">
                <label for="j_password"><i class="icon-lock"></i>Password</label>
                <input type="password" name="password" placeholder="Password" class="showpassword" />
            </p>
            <p class="clearfix">
                <input type="submit" name="login" value="Log in" />
            </p>
        </form>
    </section>
</body>
<!--[if lt IE 7]></html><![endif]-->
<!--[if IE 7]></html><![endif]-->
<!--[if IE 8]></html><![endif]-->
<!--[if IE 9]></html><![endif]-->
<!--[if gt IE 9]></html><![endif]-->
<!--[if !IE]></html><![endif]-->
