<!DOCTYPE html>
<!--[if lt IE 7]><html class="no-js ie6 oldie" ><![endif]-->
<!--[if IE 7]><html class="no-js ie7 oldie" ><![endif]-->
<!--[if IE 8]><html class="no-js ie8 oldie" ><![endif]-->
<!--[if IE 9]><html class="no-js ie9 oldie" ><![endif]-->
<!--[if gt IE 9]><html class="no-js" ><![endif]-->
<!--[if !IE]><html class="no-js" ><![endif]-->
<head>
    <link rel="stylesheet" href="/static/{{ project_version }}/css/admin.css" />
</head>

<body>
    <section class="main">
        <form class="form-2" id="loginForm" name="loginForm" method="post" action="">
            <h1><span class="log-in">{{ message_reset_password }}</span></h1>
            <p>
                <label for="j_username"><i class="icon-user"></i>{{ message_username }}</label>
                <input type="text" name="username" placeholder="{{ message_username_placeholder }}" />
            </p>
            <br/>
            <p class="clearfix">
                <input type="submit" name="login" value="{{ message_reset_password_btn }}" style="float:right;"/>
            </p>
        </form>
    </section>
</body>
<!--[if lt IE 7]></html><![endif]-->
<!--[if IE 7]></html><![endif]-->
<!--[if IE 8]></html><![endif]-->
<!--[if IE 9]></html><![endif]-->
<!--[if gt IE 9]></html><![endif]-->
<!--[if !IE]></html><![endif]-->
