<script src="/static/${pom.version}/lib/angular/angular.min.js"></script>
<script src="/static/${pom.version}/lib/angular/angular-route.min.js"></script>
<script src="/static/${pom.version}/lib/bootstrap/bootstrap.min.js"></script>
<script type="text/javascript" src="/static/${pom.version}/lib/fancybox/jquery.fancybox-1.3.4.pack.js"></script>
<script type="text/javascript" src="/static/${pom.version}/lib/fancybox/jquery.easing-1.3.pack.js"></script>
<script src="//angular-ui.github.io/bootstrap/ui-bootstrap-tpls-0.11.0.js"></script>
<script src="/static/${pom.version}/js/services.js"></script>
<script src="/static/${pom.version}/js/controllers.js"></script>
<script src="/static/${pom.version}/js/directives.js"></script>
<script src="/static/${pom.version}/js/filters.js"></script>
<script src="/static/${pom.version}/js/modal.js"></script>
<script src="/static/${pom.version}/js/loading.js"></script>
<script src="/static/${pom.version}/js/app.js"></script>
<script type="text/javascript" src="https://js.stripe.com/v2/"></script>
    