<script src="/static/${pom.version}/lib/angular/angular.min.js"></script>
<script src="/static/${pom.version}/lib/angular/angular-route.min.js"></script>
<script src="/static/${pom.version}/js/services.js"></script>
<script src="/static/${pom.version}/js/controllers.js"></script>
<script src="/static/${pom.version}/js/directives.js"></script>
<script src="/static/${pom.version}/js/filters.js"></script>
<script src="/static/${pom.version}/js/modal.js"></script>
<script src="/static/${pom.version}/js/loading.js"></script>
<script src="/static/${pom.version}/js/app.js"></script>
<script type="text/javascript" src="https://js.stripe.com/v2/"></script>
    