<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    </head>
    <body>
    <div style="font-size:12px;font-family:Arial;background:#fff">
        <div style="width:526px;padding:0 0 38px 27px;margin:0;background:#fff;text-align:left">
                <table>
            <tr>
                <td>
                    <div style="width:526px;margin:0;font-weight:normal;font-size:1.5em;color:#669999">
                        <img src="https://www.justsale.it/static/logo.jpg"/>
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <h1 style="width:526px;margin:0;font-weight:normal;font-size:1.7em;color:#669999"></h1>
                </td>
            </tr>
        </table>

        <p style="width:526px;margin:0 0 1.35em;font-weight:bold;color:#58595b;font-size:1.2em;margin-top:10px;">Bonjour <b> {{ username }} </b></p>


            <p style="width:526px;margin:0 0 1.35em;color:#58595b">Pour des raisons de sécurité, nous ne vous envoyons pas votre mot de passe par e-mail.</p>
            <br/>
            <p style="width:526px;margin:0 0 1.35em;color:#58595b">Pour accéder à votre compte, cliquez sur le lien ci-dessous et précisez votre nouveau mot de passe.</p>
            <p style="width:526px;margin:0 0 1.35em;color:#58595b">
                <a href="{{ website_address }}/new-password.html?h={{ reset_hash }}&e={{ email_hash }}">
                    {{ website_address }}/new-password.html?h={{ reset_hash }}&e={{ email_hash }}
                </a>
            </p>
            <div style="width:526px;color:#58595b">Just Sale It Team</div>
            <div style="width:526px;color:#58595b;margin-top:4px;">account@justsale.it</div>
        </div>
    </div>
    </body>
</html>
