<div class="container" x-ng-controller="SettingsCtrl">
    <form name="offerForm" enctype="multipart/form-data" ng-show="offer!=null" novalidate>
        <div class="formSection settingsTitle">
            <div>
                <label><b>Offer title</b></label>
                <input type="text" name="title" nullifempty id="title" x-ng-model="offer.title" style="width:400px;" ng-required="true"/>
                <p ng-show="offerForm.title.$dirty && offerForm.title.$error.required" style="color:red;margin-top:0px;">Title is required</p>
            </div>
        </div>
    </form>
</div>
